.components-desc-avatar{
    display:flex;
    justify-content: center;
    align-items: center;
}
.avatar{
    padding: 0.5rem;
}
.text-avatar{
    border-radius: 50%;
    background-color: var(--primary);
    text-align: center;
    margin: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.round-img{
    border-radius: 50%;
    margin:1rem;
}
.big-avatar{
    width: 15rem;
    height: 15rem;
    font-size: 7rem;
}
.md-avatar{
    width: 12rem;
    height: 12rem;
    font-size: 5rem;
}
.sm-avatar{
    width: 9rem;
    height: 9rem;
    font-size: 3rem;
}
.exsm-avatar{
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
}
