.components-desc-button{
    display:flex;
    justify-content: center;
    align-items: center;
 
}
.primary-button{
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 2rem;
    cursor: pointer;
}
.btn-icon{
    font-size: 1.5rem;
    padding-right:0.8rem;
}
.solid-button{
    background-color: var(--primary);
    border-radius: 0.5rem;
    color:var(--white-color);
}
.outline-button{
    color:var(--primary);
    border:3px solid var(--primary);
    border-radius: 0.5rem;
}
.icon-button{
    color: var(--primary);
}
.icontext-button{
    background-color: var(--primary);
    color:var(--white-color);
    border-radius: 0.5rem;
}
.floating-button{
    background-color: var(--primary);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
}
.my-float{
    color: var(--white-color);
}
.floating-button:hover{
    background-color: var(--btn-hover);
    box-shadow: 0px 0px 5px 2px var(--btn-hover);
}
.solid-button:hover{
    background-color: var(--btn-hover);
}
.outline-button:hover{
    background-color: var(--btn-hover);
    color:var(--white-color);
}
.icon-button:hover{
    color:var(--btn-hover);
}
.icontext-button:hover{
    background-color: var(--btn-hover);
}
.secondary-button{
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 2rem;
    cursor: pointer;
}
.disable-button{
    background-color: var(--primary);
    border: none;
    color:var(--white-color);
    border-radius: 0.5rem;
    cursor:not-allowed;
}
.round-button{
    background-color: var(--primary);
    border: none;
    color:var(--white-color);
    border-radius: 50%;
    width:6rem;
    height: 6rem; 
}
.round-button:hover{
    background-color: var(--btn-hover);
}
.link-button{
    all: unset;
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2rem;
}
.link-button:hover{
    color: var(--btn-hover);
}