.grid-all-container{
    display: grid;
    max-width: 100%;
    grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer"
} 
.navbar{
    grid-area: header;
}
.left-aside-bar{
    grid-area: aside;
    max-height: 100vh;
    overflow: auto;
    width: 15rem;
}
.middle-section-bar{
    grid-area: main;
    max-width: 100%;
}
.bottom-footer-bar{
    grid-area: footer;
}
