.grid-all-container{
    display: grid;
    max-width: 100%;
    grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer"
} 
.navbar{
    grid-area: header;
}
.left-aside-bar{
    grid-area: aside;
    height: 100vh;
    width: 15rem;
    position: sticky;
    top:0;
    float:left;
    margin-bottom: 11rem;
}
.middle-section-bar{
    grid-area: main;
    max-width: 100%;
    position:relative;
}
.bottom-footer-bar{
    grid-area: footer;
}
