.footer-container{
    background-color: var(--texts);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    padding: 1rem;
    width: 100vw;
    height: auto;
}
.nav-right-logo>a{
    font-size: 2rem;
    padding: 0.5rem;
    color: var(--secondary);
}
.last-line-footer{
    font-size: 1.3rem;
    margin-top: 1rem;
}
.nav-right-logo>a:hover{
    color: var(--btn-hover);
}
.fa-code{
    font-weight: bold;
    color: var(--primary);
}