.aside-container{
    display: flex;
    flex-direction: column;
}
.aside-title{
    padding-left:2.25rem;
    /* border: 1px solid black; */
}
.aside-all-list-items{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap:2rem;
    list-style: none;
}
.aside-list-item>a{
    /* border: 1px solid black; */
    text-decoration: none;
    color: var(--texts);
    font-size: 1.5rem;
    font-weight: 500;
}
.left-aside-bar{
    background-color:red;
    overflow-y: auto;
    overflow-x: hidden;
    width: 15rem;
}