.top-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary);
    box-shadow: 0 0.5rem 0.5rem var(--primary);
}
.left-heading{
    margin:0.2rem;
    padding-left: 1.2rem;
}
.right-logo{
    margin-top:auto;
    padding-right: 2rem;
}
.logo-list{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    list-style: none;
}