.nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.logo>h1{
    color:var(--primary);
}
.logo {
    margin-left: 2rem;
}
.nav-social-icons{
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.social-icon i{
    font-size: 2rem;
}