.navbar{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem var(--primary);
    max-width:100%;
    overflow-x: hidden;
}
.logo {
    margin-left: 2rem;
    color:var(--primary);
    font-size: large;
}
.nav-social-icons{
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.nav-social-icons>a{
    color: var(--texts);
}
.social-icon i{
    font-size: 2rem;
}
.nav-social-icons>a:hover{
    color: var(--primary);
}